@import "@radix-ui/themes/tokens/base.css";

.CatPresContainer {
    background-color: rgb(204, 221, 237);
    margin: 5% 15%;
    padding: 3% 2%;
    border-radius: var(--radius-6);
}
.dark .CatPresContainer {
    background-color: rgb(28, 50, 69);
}

.CatPresImage {
    height: auto;
    /* width: 50%; */
    flex-basis: 50%;
    flex-grow: 1;
    min-width: 300px;
    max-width: 350px;
}
